- connectionURL : jdbc:mysql://47.93.119.105:3306/db_spider?useUnicode=true&characterEncoding=utf-8
  driversClass : com.mysql.jdbc.Driver
  username : spiderman
  password : spiderman
  minPoolSize : 1
  maxPoolSize : 50
  idleTimeout : 30
  queryTimeout : 50
  insertUpdateTimeout : 10

- connectionURL : jdbc:mysql://47.93.119.105:3306/db_spider?useUnicode=true&characterEncoding=utf-8
  driversClass : com.mysql.jdbc.Driver
  username : spiderman
  password : spiderman
  minPoolSize : 1
  maxPoolSize : 50
  idleTimeout : 30
  queryTimeout : 50
  insertUpdateTimeout : 10
  readonly : true
